<server_config>

  <plugins>

    <!-- ==================================================== -->
    <!-- SPHERE NETWORK                                      -->
    <!-- ==================================================== -->

    <plugin
      entity_name="*"
      entity_type="world"
      filename="libSphereNetworkSystem.so"
      name="sphere_network::SphereNetworkSystem">

      <!-- Global sphere settings -->

      <sphere_radius>1</sphere_radius>

      <!-- +/- 15% variation from each group's base speed -->
      <speed_variation>0.15</speed_variation>

      <!-- Sphere visual position update frequency -->
      <motion_update_rate>60</motion_update_rate>

      <!--
        0 = random sequence every simulation run.
        Later we can use a fixed value for repeatable tests.
      -->
      <random_seed>0</random_seed>

      <!-- ================================================== -->
      <!-- Pink Route                                         -->
      <!-- ================================================== -->

      <pink_route>
        <speed>10</speed>

        <waypoint>739 44.5 1</waypoint>
        <waypoint>742 521 1</waypoint>
        <waypoint>952 521 1</waypoint>
        <waypoint>945 291 1</waypoint>
        <waypoint>979 269 1</waypoint>
        <waypoint>738 270 1</waypoint>

      </pink_route>

      <!-- ================================================== -->
      <!-- GROUP 1 / PATH 1                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_1</name>

        <start>739 44.5 1</start>
        <end>739 1130 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>


      <!-- ================================================== -->
      <!-- GROUP 2 / PATH 2                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_2</name>

        <start>743.5 44.5 1</start>
        <end>743.5 1130 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>


      <!-- ================================================== -->
      <!-- GROUP 3 / PATH 3                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_3</name>

        <start>748 44.5 1</start>
        <end>748 1130 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>

      <!-- ================================================== -->
      <!-- GROUP 4 / PATH 4                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_4</name>

        <start>752 1130 1</start>
        <end>752 44.5 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>


      <!-- ================================================== -->
      <!-- GROUP 5 / PATH 5                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_5</name>

        <start>756.5 1130 1</start>
        <end>756.5 44.5 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>


      <!-- ================================================== -->
      <!-- GROUP 6 / PATH 6                                  -->
      <!-- ================================================== -->

      <group>
        <name>group_6</name>

        <start> 760 1130 1</start>
        <end> 760 44.5 1</end>

        <base_speed>10</base_speed>

        <min_spawn_interval>4.0</min_spawn_interval>
        <max_spawn_interval>12.0</max_spawn_interval>
      </group>

    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="libCameraZoomSystem.so"
      name="camera_zoom::CameraZoomSystem">

      <command_topic>
        /model/x500_gimbal_0/camera/zoom/cmd_zoom
      </command_topic>

      <camera_name_contains>
        camera
      </camera_name_contains>

      <min_zoom>1.0</min_zoom>

      <max_zoom>8.0</max_zoom>
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-physics-system"
      name="gz::sim::systems::Physics"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-user-commands-system"
      name="gz::sim::systems::UserCommands"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-scene-broadcaster-system"
      name="gz::sim::systems::SceneBroadcaster"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-contact-system"
      name="gz::sim::systems::Contact"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-air-pressure-system"
      name="gz::sim::systems::AirPressure"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-air-speed-system"
      name="gz::sim::systems::AirSpeed"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-apply-link-wrench-system"
      name="gz::sim::systems::ApplyLinkWrench"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-wind-effects-system"
      name="gz::sim::systems::WindEffects"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-navsat-system"
      name="gz::sim::systems::NavSat"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-magnetometer-system"
      name="gz::sim::systems::Magnetometer"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">

      <render_engine>ogre2</render_engine>

    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="libOpticalFlowSystem.so"
      name="custom::OpticalFlowSystem"/>

    <plugin
      entity_name="*"
      entity_type="world"
      filename="libGstCameraSystem.so"
      name="custom::GstCameraSystem"/>

    <!--
    <plugin
      entity_name="*"
      entity_type="world"
      filename="libTemplatePlugin.so"
      name="custom::TemplateSystem"/>
    -->

  </plugins>

</server_config>
